*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.section1{

    background-image: url(../ArchView/images/6.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
    nav{
        font-size: 20px;
        background-color: #fff;
        opacity: .7;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            min-width: 650px;
        }
        li{
            
            list-style: none;
            display: inline;
            padding: 10px;
        }
        #logo{
            font-size: 40px;
            font-family: 'Libre Baskerville', serif;
            display: inline;
            opacity: 1;
            p{
                font-size: 1.5em;
                font-family: 'Libre Baskerville', serif;
                display: inline;
            }
        }      
    }
    #title{
        font-size: 2em;
        background-color: #fff;
        opacity: .7;
        margin: 200px auto;
        padding: 30px 10px;
        text-align: center;
        width: 80vw;
        max-width: 1000px;
        border-radius: .5em;
    }   
}
.section2{
    width: 100vw;
    .container2{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .images2{
            min-width: 400px;
            width: 50vw;           
            flex-wrap: wrap;
            .img1, .img2, .img3{
                width: 100%;
                height: 40%;
            }
            .img1{
                margin-top: 20px;
                background-image: url(./images/5\,2.jpg);                
            }
            .img2{
                background-image: url(./images/2\,5.jpg);
            }
            .img3{
                background-image: url(./images/7\,6.jpg);
            }

        }
        .text2{
            min-width: 300px;
            width: 50vw;
            padding: 2.5em;
            p{
                padding: 10px;
                font-size: 1.2em;
                line-height: 1.5em
            }
            

        }
    }
}